body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333333;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif ;
    width: 100%;
    height: 100%;

}

.inicio{
background-color: #1a1a1a;
background-color: #333; /* Color de fondo del menú */

box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra suave al menú */


}
.fun {
    color: #FF4500; /* Color para "Fun" (en este caso, un tono de naranja) */
    left: 0px;
}

.ox {
    color: #4169E1; /* Color para "Ox" (en este caso, un tono de azul) */
}

.videos1 {
    background-color: #1a1a1a;
    display: flex; /* Utiliza flexbox para alinear elementos en una fila */
    justify-content: center; /* Centra horizontalmente los elementos dentro de videos1 */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
}

.video-container {
    position: relative;
    width: 800px; /* Ancho deseado del contenedor */
    height: 500px; /* Alto deseado del contenedor */
    margin: 0 10px; /* Espaciado horizontal entre contenedores de video */
    overflow: hidden; /* Ocultar partes del video que excedan el contenedor */
    display: flex; /* Utilizar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente los elementos */
}

.video-container video {
    width: 35%;
    height: 99%;
    object-fit: initial;
}

.abajo {
    position: absolute;
    top: 50%; /* Coloca el botón en la mitad de la página */
    transform: translateY(-50%); /* Alinea el botón verticalmente */
    right: 450px; /* Ajusta la posición horizontal del botón */
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 50px; /* Radio de borde para hacer el botón redondeado */
    cursor: pointer;
    font-size: 40px; /* Tamaño de la fuente */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.abajo#loadNextButton {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 50px; /* Radio de borde para hacer el botón redondeado */
    cursor: pointer;
    font-size: 50px; /* Tamaño de la fuente */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.abajo#loadNextButton:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilos para el contenedor del logo */
.logo-container {
    position: absolute;
    bottom: 250px; /* Ajusta la posición vertical del contenedor del logo */
    left: 95px; /* Ajusta la posición horizontal del contenedor del logo */
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    display: inline-block; /* Cambia la visualización a inline-block */
    margin-right: 10px; /* Ajusta el margen derecho entre los logos */
    display: flex; /* Cambia la visualización a flex */
    flex-direction: column; /* Alinea los elementos en columnas */
    margin-bottom: 10px; /* Centra los elementos horizontalmente */
}

.logo img {
    width: 50px; /* Tamaño deseado del logo */
    height: 50px; /* Tamaño deseado del logo */
    border-radius: 50%; /* Hace que el logo sea redondo */
    border: 2px solid white; /* Añade un borde blanco de 2px alrededor del contenedor */
}

.username {
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: 14px;
}

.megusta {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 45px;
}

.agre{
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    font-size: 24px;
}

.inferior{
    background-color: #333333;
}

.comentario{
    position: absolute;
    top: 50%; /* Coloca el botón en la mitad de la página */
    transform: translateY(-50%); /* Alinea el botón verticalmente */
    right: 2px; 
    height: 98%;
    width: 40%;
}